<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>ContactList</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css} "/>
</head>
<body>
<center>
    <h1>Simple Contact List.</h1>
</center>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="row">
                    <div class="col-6" style="margin-right: 2px">
                        <span><b>Size</b></span>
                    </div>
                    <div class="col-6" style="margin-left: 0px">
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                               id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               th:text="${currentPageSize}">
                                Page size
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" th:href="@{/contacts?size=5}">5</a>
                                <a class="dropdown-item" th:href="@{/contacts?size=10}">10</a>
                                <a class="dropdown-item" th:href="@{/contacts?size=50}">50</a>
                                <a class="dropdown-item" th:href="@{/contacts?size=100}">100</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-offset-md-1">
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <center>
                    <div class="col-12">
                        <div style="height:600px;overflow:auto" class="border border-primary">
                            <table class="table table-responsive table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="contact : ${contactList}" class="col-md-2">
                                    <td th:text="${contact.id}" scope="col">0</td>
                                    <td scope="col"><img th:src="${contact.imageUrl}"
                                                         class="rounded-circle mx-auto d-block img-thumbnail img-fluid">
                                    </td>
                                    <td scope="col" th:text="${contact.name}">Hero</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Pagination" th:if="${totalPages gt 0}">
                                <ul class="pagination justify-content-center font-weight-medium">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/contacts?page=0}">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage eq 0} ? 'disabled'">
                                        <a class="page-link svg-icon"
                                           th:href="@{/contacts?page={id}(id=${currentPage lt 1 ? 0 : currentPage-1})}"
                                           aria-label="Previous"
                                           title="Previous Page" rel="tooltip">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                 class="bi bi-arrow-left"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                          4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-item" th:classappend="${i eq currentPage + 1} ? 'active'"
                                        th:each="i : ${#numbers.sequence( currentPage + 1, totalPages > 10 + currentPage ? currentPage + 10 : totalPages, 1)}">
                                        <a class="page-link" th:href="@{/contacts?page={id}(id=${i}-1)}"
                                           th:text="${i}"
                                           th:title="${'Page '+ i}"
                                           rel="tooltip"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${currentPage + 10 < totalPages}">
                                        <a class="page-link svg-icon" href="#">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                 class="bi bi-three-dots"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${currentPage + 1 eq totalPages} ? 'disabled'">
                                        <a class="page-link svg-icon"
                                           th:href="@{/contacts?page={id}(id=${currentPage + 1})}"
                                           aria-label="Next"
                                           title="Next Page" rel="tooltip">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                 class="bi bi-arrow-right"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-4">
                            <span>Total items: [[${totalRecords}]]</span>&nbsp;[&nbsp;
                            <span>Page [[${currentPage+1}]]&nbsp;of&nbsp;[[${totalPages}]]</span>&nbsp;]&nbsp;
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
